/* CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
html {
}
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto ;
}
body{
    font-family: "微軟正黑體";
}
a{
    text-decoration: none;
}

/* CSS Reset end */

/* prue start */
/*!
Pure v1.0.1
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.pure-form input[type="text"],
.pure-form input[type="password"],
.pure-form input[type="email"],
.pure-form input[type="url"],
.pure-form input[type="date"],
.pure-form input[type="month"],
.pure-form input[type="time"],
.pure-form input[type="datetime"],
.pure-form input[type="datetime-local"],
.pure-form input[type="week"],
.pure-form input[type="number"],
.pure-form input[type="search"],
.pure-form input[type="tel"],
.pure-form input[type="color"],
.pure-form select,
.pure-form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
            box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 3px #ddd;
            box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.pure-form input[type="color"] {
    padding: 0.2em 0.5em;
}


.pure-form input[type="text"]:focus,
.pure-form input[type="password"]:focus,
.pure-form input[type="email"]:focus,
.pure-form input[type="url"]:focus,
.pure-form input[type="date"]:focus,
.pure-form input[type="month"]:focus,
.pure-form input[type="time"]:focus,
.pure-form input[type="datetime"]:focus,
.pure-form input[type="datetime-local"]:focus,
.pure-form input[type="week"]:focus,
.pure-form input[type="number"]:focus,
.pure-form input[type="search"]:focus,
.pure-form input[type="tel"]:focus,
.pure-form input[type="color"]:focus,
.pure-form select:focus,
.pure-form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.pure-form input[type="file"]:focus,
.pure-form input[type="radio"]:focus,
.pure-form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}
.pure-form .pure-checkbox,
.pure-form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.pure-form input[type="text"][disabled],
.pure-form input[type="password"][disabled],
.pure-form input[type="email"][disabled],
.pure-form input[type="url"][disabled],
.pure-form input[type="date"][disabled],
.pure-form input[type="month"][disabled],
.pure-form input[type="time"][disabled],
.pure-form input[type="datetime"][disabled],
.pure-form input[type="datetime-local"][disabled],
.pure-form input[type="week"][disabled],
.pure-form input[type="number"][disabled],
.pure-form input[type="search"][disabled],
.pure-form input[type="tel"][disabled],
.pure-form input[type="color"][disabled],
.pure-form select[disabled],
.pure-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.pure-form input:focus:invalid,
.pure-form textarea:focus:invalid,
.pure-form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}
.pure-form input[type="file"]:focus:invalid:focus,
.pure-form input[type="radio"]:focus:invalid:focus,
.pure-form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.pure-form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.pure-form select[multiple] {
    height: auto;
}
.pure-form label {
    margin: 0.5em 0 0.2em;
}
.pure-form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.pure-form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.pure-form-stacked input[type="text"],
.pure-form-stacked input[type="password"],
.pure-form-stacked input[type="email"],
.pure-form-stacked input[type="url"],
.pure-form-stacked input[type="date"],
.pure-form-stacked input[type="month"],
.pure-form-stacked input[type="time"],
.pure-form-stacked input[type="datetime"],
.pure-form-stacked input[type="datetime-local"],
.pure-form-stacked input[type="week"],
.pure-form-stacked input[type="number"],
.pure-form-stacked input[type="search"],
.pure-form-stacked input[type="tel"],
.pure-form-stacked input[type="color"],
.pure-form-stacked input[type="file"],
.pure-form-stacked select,
.pure-form-stacked label,
.pure-form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.pure-form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}
.pure-form-aligned input,
.pure-form-aligned textarea,
.pure-form-aligned select,
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form-aligned .pure-help-inline,
.pure-form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.pure-form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.pure-form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}
.pure-form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.pure-form input.pure-input-rounded,
.pure-form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.pure-form .pure-group fieldset {
    margin-bottom: 10px;
}
.pure-form .pure-group input,
.pure-form .pure-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.pure-form .pure-group input:focus,
.pure-form .pure-group textarea:focus {
    z-index: 3;
}
.pure-form .pure-group input:first-child,
.pure-form .pure-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
.pure-form .pure-group input:first-child:last-child,
.pure-form .pure-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}
.pure-form .pure-group input:last-child,
.pure-form .pure-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.pure-form .pure-group button {
    margin: 0.35em 0;
}

.pure-form .pure-input-1 {
    width: 100%;
}
.pure-form .pure-input-3-4 {
    width: 75%;
}
.pure-form .pure-input-2-3 {
    width: 66%;
}
.pure-form .pure-input-1-2 {
    width: 50%;
}
.pure-form .pure-input-1-3 {
    width: 33%;
}
.pure-form .pure-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
.pure-form .pure-help-inline,
.pure-form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.pure-form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}

@media only screen and (max-width : 480px) {
    .pure-form button[type="submit"] {
        margin: 0.7em 0 0;
    }

    .pure-form input:not([type]),
    .pure-form input[type="text"],
    .pure-form input[type="password"],
    .pure-form input[type="email"],
    .pure-form input[type="url"],
    .pure-form input[type="date"],
    .pure-form input[type="month"],
    .pure-form input[type="time"],
    .pure-form input[type="datetime"],
    .pure-form input[type="datetime-local"],
    .pure-form input[type="week"],
    .pure-form input[type="number"],
    .pure-form input[type="search"],
    .pure-form input[type="tel"],
    .pure-form input[type="color"],
    .pure-form label {
        margin-bottom: 0.3em;
        display: block;
    }

    .pure-group input:not([type]),
    .pure-group input[type="text"],
    .pure-group input[type="password"],
    .pure-group input[type="email"],
    .pure-group input[type="url"],
    .pure-group input[type="date"],
    .pure-group input[type="month"],
    .pure-group input[type="time"],
    .pure-group input[type="datetime"],
    .pure-group input[type="datetime-local"],
    .pure-group input[type="week"],
    .pure-group input[type="number"],
    .pure-group input[type="search"],
    .pure-group input[type="tel"],
    .pure-group input[type="color"] {
        margin-bottom: 0;
    }

    .pure-form-aligned .pure-control-group label {
        margin-bottom: 0.3em;
        text-align: left;
        display: block;
        width: 100%;
    }

    .pure-form-aligned .pure-controls {
        margin: 1.5em 0 0 0;
    }

    /* NOTE: pure-help-inline is deprecated. Use .pure-form-message-inline instead. */
    .pure-form .pure-help-inline,
    .pure-form-message-inline,
    .pure-form-message {
        display: block;
        font-size: 0.75em;
        /* Increased bottom padding to make it group with its related input element. */
        padding: 0.2em 0 0.8em;
    }
}
/* prue button */
.pure-button {
    /* Structure */
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Inherit .pure-g styles */
.pure-button-group {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    *letter-spacing: normal; /* reset IE < 8 */
    *word-spacing: -0.43em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
    word-spacing: -0.43em;
}

.pure-button-group .pure-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.pure-button:focus {
    outline: 0;
}
.pure-button-active,
.pure-button:active {
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
            box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    /* csslint ignore:start */
    filter: alpha(opacity=40);
    /* csslint ignore:end */
    opacity: 0.40;
    cursor: not-allowed;
    -webkit-box-shadow: none;
            box-shadow: none;
    pointer-events: none;
}

.pure-button-hidden {
    display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

/* Button Groups */
.pure-button-group .pure-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid #111;  /* fallback color for rgba() for IE7/8 */
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.pure-button-group .pure-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.pure-button-group .pure-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}
/* prue end */
/* layout start */

.wrap{
    max-width: 960px;
    margin: 0 auto;
}
.header{
    background-image: url(https://upload.cc/i1/2020/07/23/t3XxL7.jpg);
    padding: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
@media(max-width:768px){
    .header{
        background-image: url(https://upload.cc/i1/2020/07/23/Tc4NIy.png);
        background-position-y: 45px;
        padding: 35%;
        background-color: #000;
    }
}
@media(max-width:320px){
    .header{
        background-image: url(https://upload.cc/i1/2020/07/23/4MyZGw.png);
        background-position-y: 0;
    }
}
.topbar{
    width: 100%;
    background-color: rgba(114, 47, 21, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    z-index: 100;
}
.topbar h1{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    margin: 2px;
}
.topbar .menu{
    display: flex;
    max-width: 300px;
}
.topbar .menu li{
    margin: 10px 19px;
    width: 30%;
}
.topbar .menu a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-bottom: 2px double rgba(114, 47, 21, 0);
}
.topbar .menu a:hover{
    border-bottom: 2px double #fff;
}

.topbar .menuBtn{
    display: none;
    font-weight: bold;
    color: #ffca65;
    padding: 10px 0;
}
.topbar .menuBtn:hover{
    color: #fff;
}

@media(max-width:768px){
    .topbar {
        display: block;
    }
    .topbar.menu li{
        margin: 10px 0px;
    }
}
@media(max-width:320px){
    .topbar{
        display: flex;
        position: fixed;
    }
    .topbar .menu{
        max-height: 0; 
        overflow: hidden;
        display: block;
        position: absolute;
        z-index: 100;
        top: 48.68px;
        left: 0;
        right: 0;
        background-color: rgba(114, 47, 21, 0.8);
        transition: max-height .8s;
        max-width:100%;
    }
    .topbar .menu li{
        margin: 20px;
    }
    .topbar .menuBtn{
        display: block;
    }

}
.showMenu .menu{
    max-height: 175px;
}
.banner{
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    margin-left: 55px;
}
.banner h3{
    font-size: 40px;
    padding: 25px;
    letter-spacing: 1px;
}
.banner p{
    font-size: 20px;
    padding-bottom: 35px;
}
@media(max-width:768px){
    .banner{
        display: none;
    }
}
.content{
    padding: 50px 0;
    color: #3c231b;
    background-color: #eee6e7;
    text-align: center;

}
.footer{
    background-color: lightsalmon;
    display: flex;
    color: #3c231b;
}
.about,.contact,.community{
    padding: 10px;
    width: 33.3333%;
}
.about h3, .contact h3{
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
}
.community h2{
    font-size: 35px;
    font-weight: bold;
    padding: 15px 0;
}
.icon {
    display: flex;
    justify-content: flex-end;
}
.icon img {
    padding: 5px;
    max-width: 40px;
}
.icon a{
    display: block;
}
@media(max-width:768px){
    .footer{
        flex-wrap: wrap;
    }
    .about,.contact{
        width: 50%;
    }
    .community{
        width: 100%;
    }
    .icon{
        justify-content: start;
    }
}
@media(max-width:320px){
    .footer{
        display: block;
    }
    .about,.contact{
        width: 100%;
    }
}

/* layout end */
/* index css start */
.homeTitle{
    position: relative;
}
.homeTitle h3{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.homeTitle:before,.homeTitle:after{
    display: inline-block;
    content: '';
    width: 20%;
    height: 1px;
    background-color: #a09f9f;
    position: absolute;
    top:45%;
}
.homeTitle::before{
    right: 51%;
    margin-right: 100px;
}
.homeTitle::after{
    left: 51%;
    margin-left: 100px;
}
@media(max-width:320px){
    .homeTitle::before,.homeTitle::after{
    display: none;
    }
}
.features{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.features li{
    margin: 1%;
    width: 31.3333%;
    padding: 10px;
}
.features h4{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
.features p{
    text-align: start;
    line-height: 1.5;
}
.features .moreFeatures{
    display: none;
}
@media(max-width:768px){
    .features .moreFeatures{
        display: block;
    }
    .features li{
        width: 48%;
    }
}
@media(max-width:568px){
    .features .moreFeatures{
        display: none;
    }
    .features li{
        width: 98%;
    }
}
.chef{
    background: #3d1101;
    display: flex;
    color: #fff;
    padding: 0 3%;
    flex-wrap: wrap;
    align-items: center
}
.chef img{
    height: 460px;
    width: 50%;
}
.chef .smallPhoto{
    display: none;
}
.chef .brief{
    text-align: start;
    line-height: 1.5;
    padding-left: 30px;
    width: 50%;
}
.chef h4{
    font-size: 20px;
    padding-top: 65px;
}
.chef p{
    padding-bottom: 25px;
}
@media(max-width:786px){
    .chef img{
        width: 100%;
        height: auto;
    }
    .chef .brief{
        width: 100%;
    }
}
@media(max-width:568px){
    .chef .bigPhoto{
        display: none;
    }
    .chef .smallPhoto{
        display: block;
    }
}
.comment{
    padding-bottom: 10px;
}
.comment h3{
    font-size: 20px;
    padding: 40px;
    font-weight: bold;
}
.comment .user{
    display: flex;
    padding: 0 3%;
    flex-wrap: wrap;
}
.comment .userID{
    display: flex;
}
.comment li{
    margin: 1%;
    width: 31.3333%;
}
.userID img{
    width: 20%;
    height: 20%;
}
.userID h4{
    padding: 20px;
    font-weight: bold;
}
.user p{
    text-align: start;
    margin-left: 76px;
    padding: 8px;
}
.user span{
    padding-top: 18px;
    text-align: end;
    display: block;
}
.user .moreComment{
    display: none;
}
@media(max-width:768px){
    .comment li{
        width: 48%;
    }
    .user .moreComment{
        display: block;
    }
}
@media(max-width:568px){
    .comment li{
        width: 98%;
    }
    .user .moreComment{
        display: none;
    }
}
.location{
    background: #f6f4f3;
    padding: 20px 3%;
}
.location h3{
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
}
.booking{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.booking img{
    width: 48%;
    margin-right: 2%;  
}
.booking .smallMap{
    display: none;
}
.booking .personalInfo{
    width: 48%;
    margin: 0 1%;
    text-align: start;
    position: relative;
}
.name,.tel,.email,.people{
    margin-bottom: 15px;
}
.personalInfo .cancelBtn{
    position: absolute;
    bottom: 0;
    right: 20%;
    color: #fff;
    background: #a09e9e;
}
.personalInfo .cancelBtn:hover{
    background-color: #3D1101;;
}
.personalInfo .sendBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background-color: #f56c23;
}
@media(max-width:768px){
    .booking img{
        width: 100%;
        margin-right: 0;  
    }
    .booking .personalInfo{
        width: 100%;
        margin: 0 ;
    }
    .booking .personalInfo  .cancelBtn,.booking .personalInfo .sendBtn{
        position: unset;
        margin-top: 15px;
    }
}

@media(max-width:320px){
    .booking .bigMap{
        display: none;
    }
    .booking .smallMap{
        display: block;
    }

}
/* index css end */

/* meals css start */
.meals{
    display: flex;
    flex-wrap: wrap;
}
.asideList{
    width: 23%;
    text-align: start;
    margin: 0px 2%;
}
.asideList ul{
    margin-top: 13px;
}
.asideList .listTitle::before{
    content: url(https://upload.cc/i1/2020/07/28/CdLswT.png);
    margin-right: 8px;
    vertical-align: -28%;
}
.asideList .listTitle{
    font-size: 18px;
    font-weight: bold;
}
.asideList li a{
    color: #3D1101;
    padding: 8px;
    display: block;
    border-bottom: 1px solid;
}
.asideList li a:hover{
    background: #3D1101;
    color:#fff;
}

.mealContents{
    width: 73%;
}
@media(max-width:768px){
    .asideList{
        width: 33%;
    }
    .mealContents{
        width: 63%;
    }
}
@media(max-width:568px){
    .asideList{
        width: 96%;
        margin-bottom: 28px;
    }
    .mealContents{
        width: 96%;
        margin: 0px 2%;
    }
}
.functionBar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mealContents .searchBar{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    
}
.mealContents input{
    border: 2px solid #3D1101;
    height: 32px;
    width: 87%;
    background-color: #eee6e7;
}
.mealContents .searchBtn{
    background-color: #3D1101;
    background-image: url(https://upload.cc/i1/2020/07/28/JLpbSh.png);
    width: 36px;
    height: 32px;
    border: 1px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.mealContents .searchBtn:hover{
    background-color: lightsalmon;
}
.mealContents .bill{
    width: 30%;
}
.mealContents .payBtn{
    color: #3D1101;
    border-right: 1px solid;
    font-size: 18px;
    padding: 2.5px 15px;
}
.mealContents .mainCart{
    vertical-align: -40%;
    padding: 0 15px;
}
.mealContents .payBtn:hover,.mealContents img:hover{
    background-color: lightsalmon;
    color: #fff;
}
@media(max-width:768px){
    .functionBar{
        display: block;
    }
    .mealContents .searchBar{
        width: auto;
    }
    .mealContents .bill{
        margin: 10px 0;
        width: auto;
        text-align: end;
    }
}
.product {
    display: flex;
    flex-wrap: wrap;
}
.product li{
    width: 31.3333%;
    margin: 25px 2% 25px 0;
    box-shadow: 2px 2px 5px #a09f9f;
}
@media(max-width:786px){
    .product li{
        width: 48%;
    }
}
@media(max-width:320px){
    .product li{
        width: 100%;
        margin: 25px 0;
    }
}
.product .foodImg{
    width: 100%;
    padding: 20%;background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.product .ribbon-wrap{
    width: 106px;
    height: 108px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}
.product .ribbon{
    width: 90px;
    height: 23px;
    background-color: #00cc99;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff;
    line-height: 23px;
    text-align: center;
    transform: rotate(45deg);
    font-size: 12px;
    position: relative;
    left: 40px;
    top: 10px;
}
.product .ribbon::before{
    content: "";
    border-top: 4px solid #078f6d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    left: 0;
}
.product .ribbon::after{
    content: "";
    border-top: 4px solid #078f6d;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    right: 0;
}
.product .classHam{
    background-image: url(https://upload.cc/i1/2020/07/28/UfnhWb.png);
}
.product .sausage{
    background-image: url(https://upload.cc/i1/2020/07/28/P8JIle.png);
}
.product .hamburgBro{
    background-image: url(https://upload.cc/i1/2020/07/28/TAYNdj.png);
}
.product .dragonBall{
    background-image: url(https://upload.cc/i1/2020/07/28/y8VO6K.png);
}
.foodImg .likeBtn{
    position: absolute;
    top: 0;
    left: 0px;
    width: 18px;
    margin: 5px;
}

.product .textArea{
    padding: 10px;
}
.textArea h4{
    font-weight: bold;
    line-height: 1.5;
    font-size: 18px;
}
.textArea h5{
    font-family: fantasy;
}
.textArea hr{
    width: 91px;
}
.textArea p{
    font-family: fantasy;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}
.textArea .addCartBtn{
    border: 2px solid;
    color: #ff5145;
    display: block;
    border-radius: 2px;
    padding: 2px 0;
}
.textArea .addCartBtn:hover{
    background: lightsalmon;

}
.addCartBtn img{
    border: none;
    vertical-align: -20%;
    padding-right: 10px;
}
/* meals css end */
/* login css start */

.login{
    max-width: 360px;
    margin: 0 auto;
}
.login h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5px;
}
.login p{
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
}
.login fieldset{
    border-top: 2px solid #ff6b1c;
    box-shadow: 3px 3px 5px #a5a1a1;
    padding: 1%;
}
.login #stacked-email,#stacked-password{
    width: 98%;
    margin-right:2%;
    margin-bottom: 20px;
}
.login .resetPW{
    color: #ff6b1c;
    text-decoration: none;
}
@media(max-width:320px){
    .login h2{
        font-size: 28px;
    }
    .login p{
        font-size: 18px;
    }
}
.btnArea{
    max-width: 350px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    
}
.btnArea .registerBtn,.loginBtn{
    width: 48%;
    color: #fff;
}
.btnArea .registerBtn{
    background-color: #918d8f;
}
.btnArea .loginBtn{
    background-color: #ff6b1c;
}
@media(max-width:320px){
    .btnArea{
        flex-wrap:wrap;
    }
    .btnArea .registerBtn,.loginBtn{
        width: 100%;
    }
}
/* login css end */
